set encoding=utf-8

" use ghc functionality for haskell files
" au Bufenter *.hs compiler ghc
" switch on syntax highlighting
syntax on
" enable filetype detection, plus loading of filetype plugins
filetype plugin on
" configure browser for haskell_doc.vim
let g:haddock_browser = "firefox"

" Use 256 color schemes
set t_Co=256

colorscheme molokai

autocmd FileType haskell nmap <C-c><C-l> :GhciRange<CR>
autocmd FileType haskell vmap <C-c><C-l> :GhciRange<CR>
autocmd FileType haskell nmap <C-c><C-f> :GhciFile<CR>
autocmd FileType haskell nmap <C-c><C-r> :GhciReload<CR>

" show line numbers
set nu

" auto wrap text
set wrap

" auto indent
set smartindent
set tabstop=4
set shiftwidth=4
set expandtab

" show margin
set colorcolumn=80

" smart navigation between split windows
"nmap <silent> <A-Up> :wincmd k<CR>
"nmap <silent> <A-Down> :wincmd j<CR>
"nmap <silent> <A-Left> :wincmd h<CR>
"nmap <silent> <A-Right> :wincmd l<CR>
